
  <header>
	<div class="info" fxlayout="row" fxlayoutalign="center stretch" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: stretch center; align-items: stretch;">
		<div fxflex="10%" fxhide="false" fxhide.sm="true" fxhide.xs="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 10%; display: block;"></div>

		<div class="img" fxflex="30%" fxflex.xs="45%" style="flex: 1 1 100%; box-sizing: border-box; max-width: 30%;">
			<a routerlink="/" href="http://www.nicolosdenver.pizza/">
				<img class="mobile img-fluid" fxhide="true" fxhide.sm="false" fxhide.xs="false" src="/assets/images/logo.png" style="display: none;">

				<img class="desktop img-fluid" fxhide="false" fxhide.sm="true" fxhide.xs="true" src="/assets/images/logo.png" style="display: inline;">
			</a>
		</div>

		<div class="diagonals" fxflex="70%" fxhide="false" fxhide.sm="true" fxhide.xs="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 70%; display: block;">

		</div>
	</div>

	<div class="menu">
		<ul>
			<li>
				<a f-insight="GrubHub" href="https://www.grubhub.com/r/w/20730/denver/nicolos-chicago-style-pizza-denver/" section="Header" target="_blank">
					Order Online
				</a>
			</li>

			<li>
				<a f-insight="Menu" href="/menu" section="Header">Menu</a>
			</li>

			<li>
				
				<a routerlink="/" href="http://www.nicolosdenver.pizza/">Location</a>
			</li>
		</ul>
	</div>

</header>

<router-outlet></router-outlet>
<mat-card class="hero mat-card">
    <div class="description" fxlayout="row" fxlayoutalign="center center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center; align-items: center;">
        <div fxflex="100%" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            <div fxlayout="row" fxlayoutalign="center stretch" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: stretch center; align-items: stretch;">
                <div fxflex="40%" fxhide="false" fxhide.xs="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 40%; display: block;">
                </div>

                <div fxflex="auto" style="flex: 1 1 auto; box-sizing: border-box; min-width: auto;"></div>

                <div fxflex="45%" fxflex.xs="80%" style="flex: 1 1 100%; box-sizing: border-box; max-width: 45%;">
                    <div class="info">
                        <h1>Its All About</h1>

                        <h2>The Food</h2>

                        <div>
                            <a color="primary" f-insight="GrubHub" href="https://www.grubhub.com/r/w/20730/denver/nicolos-chicago-style-pizza-denver/" mat-raised-button="" section="Hero" target="_blank" class="mat-raised-button mat-primary" tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">
                                Start Online Order
                            </span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></a>
                        </div>

                        <div>
                            <a color="accent" f-insight="Menu" href="/menu" mat-raised-button="" section="Hero" class="mat-raised-button mat-accent" tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">View Menu</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></a>
                        </div>
                    </div>
                </div>

                <div fxflex="auto" style="flex: 1 1 auto; box-sizing: border-box; min-width: auto;"></div>
            </div>
        </div>
    </div>
</mat-card>

<mat-card class="unique mat-card">
    <h2>A Unique Italian Eatery in Capitol Hill</h2>

    <div class="details" fxlayout="row" fxlayoutalign="center center" fxlayoutwrap="wrap" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center; align-items: center;">
        <div fxflex="50%" fxflex.sm="80%" fxflex.xs="95%" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
            <p>
                Nicolo’s is a unique Italian eatery belonging to a chain of small restaurants. The food at Nicolo’s is always prepared with the finest ingredients made from scratch. This establishment is perfect for people of all ages who are in the mood to enjoy fine Italian food and an affordable cost. Whether it is pizza, pasta, appetizers, salads, or sandwiches that you prefer, Nicolo’s has something for everyone.
            </p>
        </div>

        <div fxflex="10%" fxhide="false" fxhide.sm="true" fxhide.xs="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 10%; display: block;"></div>

        <div fxflex="25%" fxflex.sm="80%" fxflex.xs="95%" style="flex: 1 1 100%; box-sizing: border-box; max-width: 25%;">

                <div _ngcontent-c2="" class="hours">

                    <div _ngcontent-c2="" class="grouped">

                        <div _ngcontent-c2="" aria-disabled="false" class="hour current mat-menu-item" md-menu-item="" role="menuitem" tabindex="0">
                            <span _ngcontent-c2="" class="day">
                                <span _ngcontent-c2="" class="start">mon</span>


                                <span _ngcontent-c2="" class="end">thu</span>
                            </span>

                            <span _ngcontent-c2="" class="opens">11:00 AM</span>

                            <span _ngcontent-c2="" class="closes">11:00 PM</span>

                            <div class="mat-menu-ripple mat-ripple" md-ripple="" ng-reflect-trigger="[object HTMLDivElement]"> </div>
                        </div><div _ngcontent-c2="" aria-disabled="false" class="hour mat-menu-item" md-menu-item="" role="menuitem" tabindex="0">
                            <span _ngcontent-c2="" class="day">
                                <span _ngcontent-c2="" class="start">fri</span>

                                <span _ngcontent-c2="" class="end">sat</span>
                            </span>

                            <span _ngcontent-c2="" class="opens">11:00 AM</span>

                            <span _ngcontent-c2="" class="closes">12:00 AM</span>

                            <div class="mat-menu-ripple mat-ripple" md-ripple="" ng-reflect-trigger="[object HTMLDivElement]"> </div>
                        </div><div _ngcontent-c2="" aria-disabled="false" class="hour mat-menu-item" md-menu-item="" role="menuitem" tabindex="0">
                            <span _ngcontent-c2="" class="day">
                                <span _ngcontent-c2="" class="start">sun</span>

                            </span>

                            <span _ngcontent-c2="" class="opens">11:00 AM</span>

                            <span _ngcontent-c2="" class="closes">11:00 PM</span>

                            <div class="mat-menu-ripple mat-ripple" md-ripple="" ng-reflect-trigger="[object HTMLDivElement]"> </div>
                        </div>
                    </div>
                </div>

            <p>Happy Hour 4-6</p>
        </div>
    </div>
</mat-card>

<div address-type="Store" ng-reflect--address-type="Store" ng-reflect--map-key="AIzaSyAikICJsiPALVjGfgXroTCCK_" ng-reflect--phone-type="Contact" phone-type="Contact">
    <div class="contact">
        <mat-card class="title mat-card mat-card">
            <h2>Contact Nicolo's Pizza</h2>
        </mat-card>

        <div class="details" fxlayout="row" fxlayoutalign="center center" fxlayoutwrap="wrap" ng-reflect-align="center center" ng-reflect-layout="row" ng-reflect-wrap="wrap" style="flex-flow: row wrap; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; box-sizing: border-box; max-height: 100%; place-content: center; align-items: center; -webkit-box-pack: center; -webkit-box-align: center;">
            <div class="map" fxflex="50%" fxflex.sm="100%" fxflex.xs="100%" ng-reflect-flex="50%" ng-reflect-flex-sm="100%" ng-reflect-flex-xs="100%" style="flex: 1 1 50%; box-sizing: border-box; -webkit-box-flex: 1; max-width: 50%;">
                <mat-card class="mat-card mat-card">
                    <mat-card class="map-wrap mat-card mat-card">
                        <div ng-reflect--address="[object Object]" ng-reflect--map-key="AIzaSyAikICJsiPALVjGfgXroTCCK_" ng-reflect--name="Nicolo&#39;s Pizza">
                           <iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAikICJsiPALVjGfgXroTCCK_p14niTNpE&q=Nicolo's Pizza,1209 E 13th Ave,Denver,CO,80218" style="pointer-events: auto;"></iframe>
                        </div>
                    </mat-card>
                    <p class="text-center">Click here to deactivate map actions</p>
                </mat-card>
            </div>

            <div class="info" fxflex="50%" fxflex.sm="100%" fxflex.xs="100%" ng-reflect-flex="50%" ng-reflect-flex-sm="100%" ng-reflect-flex-xs="100%" style="flex: 1 1 50%; box-sizing: border-box; -webkit-box-flex: 1; max-width: 50%;">
                <div ng-reflect--address="[object Object]" ng-reflect--name="Nicolo&#39;s Pizza" ng-reflect--phone="3038317000" ng-reflect--socials="[object Object],[object Object">
                    <div fxlayout="row" fxlayoutalign="center center" fxlayoutwrap="wrap" ng-reflect-align="center center" ng-reflect-layout="row" ng-reflect-wrap="wrap" style="flex-flow: row wrap; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; box-sizing: border-box; max-height: 100%; place-content: center; align-items: center; -webkit-box-pack: center; -webkit-box-align: center;">
                        <div class="phone" fxflex="100%" fxflex.md="50%" ng-reflect-flex="100%" ng-reflect-flex-md="50%" style="flex: 1 1 100%; box-sizing: border-box; -webkit-box-flex: 1; max-width: 100%;">
                            <div class="contact-card">
                                <h3>Phone Number</h3>

                                <a aria-disabled="false" class="mat-raised-button" href="tel:3038317000" md-raised-button="" ng-reflect--action="3038317000" ng-reflect--section="ContactComponent" section="ContactComponent" tabindex="0">
                                    <span class="mat-button-wrapper">
                                        (303) 831 - 7000
                                    </span>
                                    <div class="mat-button-ripple mat-ripple" md-ripple="" ng-reflect-centered="false" ng-reflect-trigger="tel:3038317000"></div>  <div class="mat-button-focus-overlay"></div>
                                </a>
                            </div>
                        </div>
                        <div class="social-links" fxflex="100%" fxflex.md="50%" ng-reflect-flex="100%" ng-reflect-flex-md="50%" style="flex: 1 1 100%; box-sizing: border-box; -webkit-box-flex: 1; max-width: 100%;">
                            <div class="contact-card">
                                <h3>Get Connected</h3>
                                <a aria-disabled="false" class="push-right mat-button" href="https://www.facebook.com/nicolospizza" md-button="" ng-reflect--action="Facebook" ng-reflect--section="ContactComponent" section="ContactComponent" tabindex="0" target="_blank">
                                    <span class="mat-button-wrapper">
                                        <i class="fa fa-facebook-official fa-3x"></i>
                                    </span>
                                    <div class="mat-button-ripple mat-ripple" md-ripple="" ng-reflect-centered="false" ng-reflect-trigger="https://www.facebook.com/nicol"></div>  <div class="mat-button-focus-overlay"></div>
                                </a><a aria-disabled="false" class="push-right mat-button" href="https://twitter.com/NicolosPizzaDen" md-button="" ng-reflect--action="Twitter" ng-reflect--section="ContactComponent" section="ContactComponent" tabindex="0" target="_blank">
                                    <span class="mat-button-wrapper">
                                        <i class="fa fa-twitter fa-3x"></i>
                                    </span>
                                    <div class="mat-button-ripple mat-ripple" md-ripple="" ng-reflect-centered="false" ng-reflect-trigger="https://twitter.com/NicolosPiz"></div>  <div class="mat-button-focus-overlay"></div>
                                </a><a aria-disabled="false" class="push-right mat-button" href="https://www.yelp.com/biz/nicolos-pizza-denver" md-button="" ng-reflect--action="Yelp" ng-reflect--section="ContactComponent" section="ContactComponent" tabindex="0" target="_blank">
                                    <span class="mat-button-wrapper">
                                        <i class="fa fa-yelp fa-3x"></i>
                                    </span>
                                    <div class="mat-button-ripple mat-ripple" md-ripple="" ng-reflect-centered="false" ng-reflect-trigger="https://www.yelp.com/biz/nicol"></div>  <div class="mat-button-focus-overlay"></div>
                                </a>
                            </div>
                        </div>
                        <div class="address" fxflex="100%" fxflex.md="50%" ng-reflect-flex="100%" ng-reflect-flex-md="50%" style="flex: 1 1 100%; box-sizing: border-box; -webkit-box-flex: 1; max-width: 100%;">
                            <div class="contact-card">
                                <h3>Address</h3>

                                <div ng-reflect--address="[object Object]" ng-reflect--name="Nicolo&#39;s Pizza">
                                    <a aria-disabled="false" class="mat-raised-button" href="https://www.google.com/maps/place/Nicolo&#39;s%20Pizza,1209%20E%2013th%20Ave,Denver,CO,80218" md-raised-button="" ng-reflect--action="Directions" ng-reflect--section="DirectionsLinkComponent" tabindex="0" target="_blank">
                                        <div class="mat-button-wrapper">
                                            <div ng-reflect--address="[object Object]">
                                                <address>
                                                    1209 E 13th Ave <br>
                                                    Denver, CO 80218
                                                </address>
                                            </div>
                                        </div>
                                        <div class="mat-button-ripple mat-ripple" md-ripple="" ng-reflect-centered="false" ng-reflect-trigger="https://www.google.com/maps/pl"></div>  <div class="mat-button-focus-overlay"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div fxlayout="row" fxlayoutalign="center center" fxlayoutwrap="wrap" ng-reflect-align="center center" ng-reflect-layout="row" ng-reflect-wrap="wrap" style="flex-flow: row wrap; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; box-sizing: border-box; max-height: 100%; place-content: center; align-items: center; -webkit-box-pack: center; -webkit-box-align: center;">
        <div fxflex="70%" fxflex.xs="100%" ng-reflect-flex="70%" ng-reflect-flex-xs="100%" style="flex: 1 1 70%; box-sizing: border-box; -webkit-box-flex: 1; max-width: 70%;">
            <h3>Capital Hill Pizza Denver</h3>

            <p details="">
                Perfect for the Family, Happy Hour, or a Late Snack
            </p>
        </div>

        <div fxflex="30%" fxflex.xs="100%" ng-reflect-flex="30%" ng-reflect-flex-xs="100%" style="flex: 1 1 30%; box-sizing: border-box; -webkit-box-flex: 1; max-width: 30%;">
            <div insight-section="Footer" ng-reflect--insight-section="Footer">
                <div class="fifty280">
                    <a aria-disabled="false" class="mat-raised-button" f-insight="PoweredBy5280" href="http://www.5280software.com/" md-raised-button="" ng-reflect--action="PoweredBy5280" ng-reflect--link="http://www.5280software.com/" ng-reflect--section="Footer" tabindex="0" target="_blank">
                        <span class="mat-button-wrapper">
                            <img class="img-fluid" src="http://www.5280software.com/img/5280software.png">
                            <br>
                            <small>Powered by</small>
                            <br>
                            5280 Software
                        </span>
                        <div class="mat-button-ripple mat-ripple" md-ripple="" ng-reflect-centered="false" ng-reflect-trigger="http://www.5280software.com/"></div>  <div class="mat-button-focus-overlay"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

	<!-- <script>window.ViewBag = {"CurrentAction":"Index","CurrentController":"DAF","UXRelease":"1.0.0","ApplicationID":"64a5da80-beda-4507-9456-36e1b1a05ccf"};</script>

	<script>window.Google = {"Analytics":null,"Debug":false,"Fonts":null,"Icons":null,"MapKey":null};</script>

		<script>window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
ga('create', '', 'auto');
</script> -->
   <!-- <script src="./www.nicolosdenver.pizza_files/analytics.js.download"></script>
   <script src="./www.nicolosdenver.pizza_files/inline.318b50c57b4eba3d437b.bundle.js.download"></script>
   <script src="./www.nicolosdenver.pizza_files/polyfills.b1273f77bb85d18abe37.bundle.js.download"></script>
   <script src="./www.nicolosdenver.pizza_files/main.8974961573ff64d58007.bundle.js.download"></script> -->
   <!-- <link href="./www.nicolosdenver.pizza_files/styles.b006928f6df78e4cfd24.bundle.css" rel="stylesheet"> -->


